body, html{
    width: 99%;
    height: 98%;
}

#mainCanvas{
    width: 1000px;
    height: 600px;
    background-color: black;
    margin: auto;
    position: relative;
}

div.title{
    text-align: center;
}

#player1, #player2{
    width: 25px;
    height: 150px;
    background-color: white;
}

#player1{
    position: absolute;
    top: 10px;
    left: 30px;
}

#player2{
    position: absolute;
    top: 10px;
    left: 945px;
}

#dottedLine{
    position: absolute;
    width: 50%;
    height: 100%;
    border-style: none dashed none none;
    border-width: 5px;
    border-top-style: none;
    border-color: white;
}

#ball{
    position: relative;
    left: 487.5px;
    top: 287.5px;
    background-color: white;
    width:25px;
    height:25px;
    border-radius:12.5px;

}

#score{
  position:absolute;
  width:1000px;
  height:600px;
  font: red;
  font-size: 200px;

}

#instructions{
    float: left;
}
